<section>
  <h2>Hi!</h2>
  <p>
    We are Miranda and Marta.<br>
    Both of us love computer science and coding.
  </p>
  <person>
    <img src="assets/img/marta.jpg" alt="Marta" width=150>
  </person>
  <person>
    <img src="assets/img/miranda.jpg" alt="Miranda" width=150>
  </person>
  </br>
  <person>
    <img src="assets/img/vero.jpg" alt="Vero" width=150>
  </person>
  <person>
    <img src="assets/img/martin.jpg" alt="Martin" width=150>
  </person>
  <person>
    <img src="assets/img/gorka.jpg" alt="Gorka" width=150>
  </person>
  </br>
  <person>
    <img src="assets/img/papa.jpg" alt="Miguel Angel" width=150>
  </person>
  <person>
    <img src="assets/img/pavle.jpg" alt="Pavle" width=150>
  </person>
  <person>
    <img src="assets/img/gilles.jpg" alt="Gilles" width=150>
  </person>
</section>
